*{
   margin: 0px;
   padding: 0px;
}
h1{
    text-align: center;
    margin-top: 5vh;
}
.container{
    display: flex;
    justify-content: center;
    height:70vh;
}
.content{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
}
.moves{
    
}
#rock{
    background-image: url("rock.jpeg");
}
#paper{
    background-image: url("rock.jpeg");
}
#scissor{
    background-image: url("rock.jpeg");
}